/*
    TABLE OF CONTENTS
    1. GENERAL SETTINGS
    2. NAV
    3. HOME
    4. FOOTER
    5. MENU
    6. GALLERIA
    7. CONTATTI
*/
/*
    1. GENERAL SETTINGS
*/
body {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  background-color: #111111;
}

.scrolled {
  background-color: #111111;
}

h3 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #DD3333;
}

h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
}

a {
  text-decoration: none;
  color: unset;
}

section {
  padding: 30px;
}

.margin-top {
  margin-top: 70px;
}

.newsletter-container p {
  font-size: 17px;
}

.newsletter-form {
  position: relative;
  border: 2px solid rgb(108, 108, 108);
  height: fit-content;
  width: 100%;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.newsletter-form label {
  display: none;
}
.newsletter-form input:focus {
  border: none;
}
.newsletter-form input[type=submit] {
  padding: 10px 24px;
  width: 97px;
  height: 52px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #DD3333;
  border: none;
  position: absolute;
  right: -2px;
  top: -2px;
}
.newsletter-form input[type=email] {
  padding: 10px 15px;
  isolation: isolate;
  width: 373px;
  height: 48px;
  border: none;
  background: none;
  color: #ffffff;
}
.newsletter-form input[type=email]::placeholder {
  color: #ffffff;
}
.newsletter-form input[type=email]:focus {
  border: none;
  box-shadow: none;
  outline: 0 none;
}

@media screen and (max-width: 575px) {
  .newsletter-form {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border: none;
  }
  .newsletter-form input[type=submit] {
    position: static;
  }
  .newsletter-form input[type=email] {
    width: 100%;
    border: 2px solid rgb(108, 108, 108);
    border-radius: 100px;
  }
}
.contact-form {
  width: 50%;
}
.contact-form input,
.contact-form textarea {
  background: none;
  border: 1px solid rgb(108, 108, 108);
  border-radius: 10px;
  color: #ffffff;
}
.contact-form input[type=submit] {
  padding: 10px 24px;
  width: 97px;
  height: 52px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #DD3333;
  border: none;
  transition: all 0.3s ease-in-out;
}
.contact-form input[type=submit]:hover {
  color: #DD3333;
  background-color: #ffffff;
}
.contact-form input[type=email]:focus,
.contact-form input[type=text]:focus,
.contact-form textarea:focus {
  border: 1px solid rgb(108, 108, 108);
  box-shadow: none;
  outline: 0 none;
  background: none;
  color: #ffffff;
}
.contact-form textarea {
  height: 200px !important;
}
.contact-form label {
  color: #ffffff !important;
}
.contact-form label::after {
  background: none !important;
}

@media screen and (max-width: 767px) {
  .contact-form {
    width: 100%;
  }
}
/*
    1. GENERAL SETTINGS END
*/
/*
    2. NAV
*/
#navBar {
  transition: all 0.3s ease-in-out;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.offcanvas {
  background-color: #111111;
  color: #ffffff;
}
.offcanvas .navbar-nav {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.offcanvas .nav-link,
.offcanvas .nav-link.active {
  color: #ffffff;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
}

.offcanvas-backdrop.show {
  opacity: 1;
  background-color: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(8px);
}

@media screen and (min-width: 992px) {
  .offcanvas.offcanvas-end {
    width: 50%;
  }
}
.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.offcanvas-body img {
  width: 64px;
}

/*
    2. NAV END
*/
/*
    3. HOME
*/
#hero {
  background-image: url(/Pier_Restaurant/images/hero-home-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.no-photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 100px;
}

.photo-section {
  padding: 30px 90px;
}
.photo-section .photo-container {
  width: 360px;
  height: 367px;
  border-radius: 10px;
  background-size: cover;
  background-position: bottom;
  max-width: 100%;
}

@media screen and (max-width: 575px) {
  .no-photo-section {
    padding: 30px 30px;
  }
  .photo-section {
    padding: 30px 10px;
  }
}
.owner-img {
  background-image: url(/Pier_Restaurant/images/food-1.jpeg);
}

.location-img {
  background-image: url(/Pier_Restaurant/images/location-2.jpeg);
}

.lg-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 83px;
}

.md-section {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 15px;
}

@media screen and (max-width: 991px) {
  .lg-section {
    display: none;
  }
  .md-section {
    display: flex;
  }
}
.quick-link-section img {
  width: 52px;
}
.quick-link-section a img {
  width: 8px;
}
.quick-link-section p {
  margin: 0;
}
.quick-link-section .quick-link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 8px;
  height: 130px;
}
.quick-link-section .link-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

/*
    3. HOME END
*/
/*
    4. FOOTER
*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 80px;
  background-color: #111111;
  padding: 50px;
}
footer .footer-newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
footer .footer-voices-section img {
  width: 64px;
}
footer .footer-voices-section .footer-voice {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-voices-section .footer-voice h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
footer .footer-voices-section .footer-voice ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
footer .footer-voices-section .footer-voice ul li {
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
}
footer .footer-voices-section .footer-voice ul li img {
  width: 8px;
}

/*
    4. FOOTER END
*/
/*
    5. MENU
*/
.menu-paper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: 2px solid #FFFFFF;
  padding: 10px 15px;
}
.menu-paper h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
}
.menu-paper .menu-content {
  width: 100%;
}
.menu-paper .menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.menu-paper .menu-content ul p {
  margin: 0;
}
.menu-paper .menu-content ul .name {
  font-weight: 400;
}
.menu-paper .menu-content ul .description {
  font-weight: 300;
}
.menu-paper .menu-content ul .price {
  font-size: 13px;
}

/*
    5. MENU END
*/
/*
    6. GALLERIA
*/
.galleria-container .photo {
  width: 320px;
  height: 196.63px;
}

@media screen and (max-width: 991px) {
  .galleria-container .photo {
    width: 417px;
    height: 256.23px;
  }
}
@media screen and (max-width: 575px) {
  .galleria-container .photo {
    width: 393px;
    height: 241.48px;
  }
}
/*
    6. GALLERIA END
*/
/*
    7. CONTATTI
*/
.map-section {
  width: 100%;
}
.map-section iframe {
  border-radius: 10px;
}

/*
    7. CONTATTI END
*/

/*# sourceMappingURL=style.css.map */
